{% extends "template/basepage.html" %}
{% block js %}

<style type="text/css">
.STYLE1 {
	height:25px;
	background-color:#ffffff;
}
</style>
{% endblock %}
{% block body %}
<body  style="background:#ececec">
{% endblock %}
{% block navigator %}
<a  href="/userInfo">用户信息列表</a> >><a  href="/userAdd">添加新用户</a> >> <a href="javascript:history.back(-1);">后退</a>
{% endblock %}
{% block content %}
<form id="register"  method="post" action="/userPassWordUpdate">
<table align="center" width="90%" border="0" cellpadding=1 cellspacing=1 bgcolor="#D5E3E6" >
{% for user in users %}
  <tr class="STYLE1">
    <td width="30%"><div align="right">用 &nbsp;&nbsp; 户：</div></td>
	{% if user.userName %}
    <td width="70%">{{user.userName}}<input type="hidden" name="userName" value="{{user.userName}}"></td>
	{%endif%}
  </tr>
  <tr class="STYLE1">
    <td><div align="right">旧 密 码：</div></td>
    <td><input type="password" name="oldpassword"  maxlength="20"></td>
  </tr>
  <tr class="STYLE1">
    <td><div align="right">新 密 码：</div></td>
    <td><input type="password" name="newpassword" maxlength="20"></td>
  </tr>
  <tr class="STYLE1">
    <td colspan="2" align="center">
	<input type="hidden" name="index" value="{{index}}">
	<input name="Submit" type="submit" value="确定"/>
	<input name="reset" type="reset" value="重置"/>
	<input name="return" type="button" value="返回" onClick="javascript:history.back(-1);" />    </td>
    </tr>
{% endfor%}
  </table>
</form>
{% endblock %}