{% extends "template/basepage.html" %}
{% block js %}
<!--xieyingan加进去的代码-->  
<script language="javascript">
///通过单击行反选该行所有CheckBox
function SelectTR(tr)
{
  var tds=tr.childNodes;
  for(var j=0; j<tds.length;j++)
  {
	var inputs=tds[j].childNodes;
	for (var i=0; i < inputs.length; i++) // 遍历页面上所有的 input
    {
	  if (inputs[i].type == "radio")
	  {
	    inputs[i].checked = !inputs[i].checked;
	    //tr.style.backgroundColor = inputs[i].checked ? "#245EDC" : ""; //改变选中行的背景色
	  }
	}
  }
}
</script>
<script for = btnSel event=onclick>////查看
	var value="";
    var name="";
	if(!box.length){
     if(box.checked){ //判断复选框是否选中
    	value=value+box.value; //值的拼凑 .. 具体处理看你的需要,
        name=name+boxname.value;
	 }
	}
   for (var i=0;i<box.length;i++ ){
     if(box[i].checked){ //判断复选框是否选中
    	value=value+box[i].value; //值的拼凑 .. 具体处理看你的需要,
        name=name+boxname[i].value;
	 }
   }
   if(value==null||value==""){
   	alert("请选择一条数据进行操作");
   }else{
   	window.location.href="/photoLib_PhotoList?photoLibCode=" + value+"&photoLibName="+name;
   }
</script>
<script for = btnAdd event=onclick>////添加,有两个对数
   var value="";
   var name="";
   if(!box.length){
     if(box.checked){ //判断复选框是否选中
    	value=value+box.value; //值的拼凑 .. 具体处理看你的需要,
		name=name+boxname.value;
	 }
	}
   for (var i=0;i<box.length;i++ ){
     if(box[i].checked){ //判断复选框是否选中
    	value=value+box[i].value; //值的拼凑 .. 具体处理看你的需要
		name=name+boxname[i].value;
	 }
   }
   if(value==null||value==""||name==null||name==""){
   	alert("请选择一条数据进行操作");
   }else{
   window.location.href="/addPhotoToLib?photoLibCode="+value+"&photoLibName="+name;
   }
</script>
<script for = btnDel event=onclick>////删除
   var value="";
   if(!box.length){
     if(box.checked){ //判断复选框是否选中
    	value=value+box.value; //值的拼凑 .. 具体处理看你的需要,
	 }
	}
   for (var i=0;i<box.length;i++ ){
     if(box[i].checked){ //判断复选框是否选中
    	value=value+box[i].value; //值的拼凑 .. 具体处理看你的需要,
	 }
   }
   if(value==null||value==""){
   	alert("请选择一条数据进行操作");
   }else{
	if(window.confirm("你确认要删除吗？"))
   	window.location.href="/photoLibDelete?photoLibCode=" + value;
   }
</script>
<script language="javascript"> <!--改变单元格背景色 -->
 function cells_color(){
	var oColor,td=event.srcElement
	 if(td.tagName!="TD")
	   return ;
	if(event.type=="mouseover"){
		oColor="#C5D7EF";
		}
		
	 else{ 
	 	oColor="#ffffff"
	 }
	 tr=td.parentElement
	 for(var i=0;i<tr.cells.length;i++)
		 tr.cells[i].bgColor=oColor
 }

</script>
<!--xieyingan加进去的代码END-->
<script type="text/javascript" language="javascript">
for (i=0;i<TableNew.rows.length;i++) 
{
	if(i%2==0)
	{
		TableNew.rows(i).className = "a1";
	}
	else
	{
		TableNew.rows(i).className = "";
	}
}
</script>
<style type="text/css">
.STYLE1 {
	height:25px;
	background-color:#ffffff;
}
</style>
{% endblock %}
{% block body %}
<body   style="background:#ececec">
{% endblock %}
{% block navigator %}
<a  href="/photoLibList">图库管理</a> 
 >> <a href="/photoLibAdd">添加图片库</a>  >> <a href="javascript:history.back(-1);">后退</a>
{% endblock %}
{% block content %}
<form  method="post" action="/photoLibList">
<table width="90%" border="0"  cellpadding="0" cellspacing="0" style="border-collapse:collapse">
  <tr class="STYLE1">
    <td align="center">图库名:
	<input  name="searchType" type="text"/>
	<input  name="photoLibCode" type="hidden" value=""/>
	<input  name="photoLibName" type="hidden" value=""/>
    <input type="submit" name="submit" value="搜索"/>
	</td>
  </tr>
</table>
</form>
<table id="TableNew" border="0" width="90%" cellpadding=1 cellspacing=1 bgcolor="#D5E3E6"  onMouseOver="cells_color();" onMouseOut="cells_color();" >
<tr class="STYLE1">
		<td colspan="4" align="right">
			<!--<input type="button" name="btnAdd" value="添加图片"/>-->
			<input type="button" name="btnSel" value="查看图片信息"/>
			<input type="button" name="btnDel" value="删 除"/>
		</td>
	</tr>
<tr  class="STYLE1">
		<td align="center">图片库编号</td>
        <td align="center">图片库名</td>
		<td align="center">更新日期</td>
		<td align="center"></td>
	</tr>
	{% for photoLib in photoLibs %}
	{% if photoLib.photoLibCode %}    
	<tr class="STYLE1" style="cursor:hand" onClick="SelectTR(this)">
		<td align="center">{{photoLib.photoLibCode}}</td>
		<td align="center">{{photoLib.photoLibName}}<input name="boxname" style="visibility:hidden" type="radio" id="boxname" value="{{photoLib.photoLibName}}" ></td>
		<td align="center">{{photoLib.date|date:"Y-m-d H:i:s"}}</td>
        <td align="center"><input name="cbox" type="radio" id="box"  value="{{photoLib.photoLibCode}}" >
        <input name="radio" style="visibility:hidden; display:none" type="radio" id="rindex" value="{{index}}" >
        </td>
	</tr>
	{%endif%}
	{%endfor%}
    
</table>

{% endblock %}